.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: rgb(123, 220, 245);
	color: black;
}

.nav-links {
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.link {
	text-decoration: none;
	color: black;
}

.link.active {
	/* text-decoration: underline;
	text-decoration-color: rgb(95, 94, 165);
	text-underline-offset: 100px; */
	border-bottom: 1px solid black;
	line-height: 1.5;
}

.link:not(.active):hover {
	color: white;
	background-color: rgb(184, 184, 184);
}
